<mat-toolbar class="green-header">
  <mat-toolbar-row>
    <span style="padding-left: 20px;">Aseman junatiedot</span>
  </mat-toolbar-row>

</mat-toolbar>
<div class="top-search">
  <div class="station-text">Hae aseman nimellä</div>
  <form class="search-form">
    <mat-form-field class="input-style" appearance="outline">
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <button mat-button *ngIf="myControl.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="myControl.setValue('');">
        <i style="margin-bottom: 10px;" class="material-icons">
          clear
        </i>
      </button>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let station of filteredStations | async" [value]="station">
          {{station.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<mat-tab-group>
  <mat-tab label="Saapuvat">
    <ng-template matTabContent>
      <div matSort matSortActive="scheduledTime">
        <div>
          <h3 mat-line></h3>
        </div>
        <div *ngIf="!arrivingTrains.length > 0">
          <div class="listItem">Junia ei löytynyt.</div>
        </div>
        <mat-card *ngFor="let train of arrivingTrains;">
          <div mat-line>
            <div class="listItem" *ngIf="!train">Junia ei löytynyt.</div>
            <div class="listItem">
              <div class="listChild">
                <div class=" list-header">Junanumero</div>
                <div>{{train.trainNumber}}</div>
              </div>
              <div class="listChild">
                <div class=" list-header">Lähtöasema</div>
                <div>{{train.startStation}}</div>
              </div>
              <div class="listChild">
                <div class="list-header">Määränpää</div>
                <div>{{train.destinationStation}}</div>
              </div>
              <div class="listChild">
                <div class=" list-header">Saapumisaika</div>
                <div *ngIf="!train.timeLate && !train.canceled">{{train.scheduledTime}}</div>
                <div class=" late" *ngIf="train.timeLate && !train.canceled">{{train.newTime}}
                  <p class="overlined">({{train.scheduledTime}})</p>
                </div>
                <div class=" canceled" *ngIf="train.canceled">{{train.scheduledTime}}
                  <p class="canceled-text">Cancelled</p>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Lähtevät">
    <ng-template matTabContent>
      <div>
        <div>
          <h3 mat-line></h3>
        </div>
        <div *ngIf="!departureTrains.length > 0">
          <div class="listItem">Junia ei löytynyt.</div>
        </div>
        <mat-card *ngFor="let train of departureTrains;">
          <div mat-line>
            <div class="listItem" *ngIf="!train">Junia ei löytynyt.</div>
            <div class="listItem">
              <div class="listChild">
                <div class=" list-header">Junanumero</div>
                <div>{{train.trainNumber}}</div>
              </div>
              <div class="listChild">
                <div class=" list-header">Lähtöasema</div>
                <div>{{train.startStation}}</div>
              </div>
              <div class="listChild">
                <div class="list-header">Määränpää</div>
                <div>{{train.destinationStation}}</div>
              </div>
              <div class="listChild">
                <div class=" list-header">Lähtöaika</div>
                <div *ngIf="!train.timeLate && !train.canceled">{{train.scheduledTime}}</div>
                <div class=" late" *ngIf="train.timeLate && !train.canceled">{{train.newTime}}
                  <p class="overlined">({{train.scheduledTime}})</p>
                </div>
                <div class=" canceled" *ngIf="train.canceled">{{train.scheduledTime}}
                  <p class="canceled-text">Cancelled</p>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
